.Cards input{
  padding-left: 80%;
}
.Cards h2{
  text-align: center;
}
.Cards{
  width: 300px;
  display: inline-block;
  margin: 7px;
  padding: 10px;
  border: 1px solid black;    
  background-color: burlywood; 
}

#fcard{
  padding-left: 80%;
}